
@font-face {
  font-family: "Yekan";
  src:
  url("assets/fonts/YekanBakhFaNum-Regular.woff") format("woff");
  font-weight: normal;
}


body {
  margin: 0;
  font-family: "Yekan";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/pic/background.jpg");
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
